/* NOTE: mark-applier styles have to come after github-markdown-css styles. */

/* npm:github-markdown-css/github-markdown.css */
#INCLUDE("github-markdown-css/github-markdown.css")

/* npm:@wooorm/starry-night/style/both.css */
#INCLUDE("@wooorm/starry-night/style/both.css")

/* npm:mark-applier/styles/theme-override.css */
#INCLUDE("mark-applier/styles/theme-override.css")

/* npm:mark-applier/styles/body-background-auto.css */
#INCLUDE("mark-applier/styles/body-background-auto.css")

/* npm:mark-applier/styles/page-layout.css */
#INCLUDE("mark-applier/styles/page-layout.css")

/* npm:mark-applier/styles/icons.css */
#INCLUDE("mark-applier/styles/icons.css")
