/* NOTE: mark-applier styles have to come after github-markdown-css styles. */

/* npm:github-markdown-css/github-markdown-dark.css */
#INCLUDE("github-markdown-css/github-markdown-dark.css")

/* npm:@wooorm/starry-night/style/dark.css */
#INCLUDE("@wooorm/starry-night/style/dark.css")

/* npm:mark-applier/styles/body-background-dark.css */
#INCLUDE("mark-applier/styles/body-background-dark.css")

/* npm:mark-applier/styles/page-layout.css */
#INCLUDE("mark-applier/styles/page-layout.css")

/* npm:mark-applier/styles/icons.css */
#INCLUDE("mark-applier/styles/icons.css")
