<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    #TITLE
    <style>
      #PLACEHOLDER("css")
    </style>
  </head>
  <body>
    #PLACEHOLDER("checkboxHtml")
    <article class="markdown-body">
      #CONTENT
    </article>
  </body>
</html>
