<!--
  This template assumes these css files are hosted at these paths. You'll have
  to copy them there yourself.

  NOTE: mark-applier styles have to come after github-markdown-css styles.
-->
<link href="/styles/github-markdown-css/github-markdown.css" rel="stylesheet>
<link href="/styles/@wooorm/starry-night/style/both.css" rel="stylesheet>
<link href="/styles/mark-applier/styles/body-background.css" rel="stylesheet>
<link href="/styles/mark-applier/styles/page-layout.css" rel="stylesheet>
