<!-- NOTE: mark-applier styles have to come after github-markdown-css styles. -->

<!-- npm:github-markdown-css/github-markdown.css -->
<style>
  #INCLUDE("github-markdown-css/github-markdown.css")
</style>
<!-- npm:@wooorm/starry-night/style/both.css -->
<style>
  #INCLUDE("@wooorm/starry-night/style/both.css")
</style>

<!-- npm:mark-applier/styles/body-background.css -->
<style>
  #INCLUDE("mark-applier/styles/body-background.css")
</style>
<!-- npm:mark-applier/styles/page-layout.css -->
<style>
  #INCLUDE("mark-applier/styles/page-layout.css")
</style>