<style>
  <!-- npm:mark-applier/styles/body-background.css -->
  #INCLUDE("mark-applier/styles/body-background.css")
</style>
<style>
  <!-- npm:mark-applier/styles/page-layout.css -->
  #INCLUDE("mark-applier/styles/page-layout.css")
</style>
<style>
  <!-- npm:github-markdown-css/github-markdown.css -->
  #INCLUDE("github-markdown-css/github-markdown.css")
</style>
<style>
  <!-- npm:@wooorm/starry-night/style/both.css -->
  #INCLUDE("@wooorm/starry-night/style/both.css")
</style>
