body {
  --color-body-bg: #ffffff;
  background-color: var(--color-body-bg);
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
    --color-body-bg: #0d1117;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color-scheme: light;
    --color-body-bg: #ffffff;
  }
}

.dark-theme {
  color-scheme: dark;
  --color-body-bg: #0d1117;
}

.light-theme {
  color-scheme: light;
  --color-body-bg: #ffffff;
}
