/* github-markdown-css doesn't match GitHub when it comes to heading links. so I'm manually fixing it */

.markdown-body .heading-link {
  /* remove default link blue color */
  color: unset;

  /* so svg link icon is centered nicely */
  display: inline-flex;
  align-items: center;
}
.markdown-body :is(h1, h2, h3, h4, h5, h6) a,
.markdown-body :is(h1, h2, h3, h4, h5, h6) a:hover {
  /* remove default link underline */
  text-decoration: none;
}

.markdown-body .heading-link svg.octicon-link {
  /* github-markdown-css only shows this on hover, but it's always visible on GitHub nowadays */
  visibility: visible;
  color: var(--color-fg-muted);

  /* some distance from the heading link text. 8px value matches github.com */
  margin-left: 8px;
}
